@page
@model webtudo.Pages.cadastrarModel
@{
}

<div>
    <label>Nome</label>
    <input />
</div>

<div>
    <label>Descrição</label>
    <input />
</div>

<div>
    <label>Preço</label>
    <input />
</div>

<div>
    <label>Estoque</label>
    <input />
</div>

<div>
    <label>Url image</label>
    <input />
</div>

<button>
    Salvar
</button>